*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.heading{
    font-size: 46px;
    font-weight: 800;
    color: #02918c;
    text-transform: uppercase;
    text-align: center;
}
.heading span{
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #7e8287;
}
.card {
    border-right: 1px solid #7e8287;
    width: 25%;
    padding: 20px 0;
    text-align: center;
}
.card .icon{
    color: #02918c;
    font-size: 30px;
}
.card h4{
    margin: 20px 0;
    font-size: 16px;
    font-weight: 800;
    color: #7e8287;
}
.card p{
    font-size: 11px;
    color: #7e8287;
    padding: 0 50px;
    line-height: 25px;
}
.button{
    background-color: #cfc91d;
    color: #0b1016;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px 43px;
    display: inline-block;
    transition: 0.55s;
}
/* *common elements */
/* nav start */
nav{
    background-color: #02918b;
}
nav .logo{
    width: 40%;
}
nav .menu{
    width: 60%;
}
nav .menu ol li{
    display: inline-block;
}
nav .menu ol{
    text-align: right;
}
nav .menu ol li a{
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    padding: 26px 25px;
    display: inline-block;
}

/* nav end */
/* banner star */
#banner{
    height: 728px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/banner.jpg);
    background-color: rgba(0, 0, 0, 0.40);
    background-blend-mode: multiply;
    color: white;
    text-align: center;
}
#banner .banner_content{
    width: 100%;
}
#banner .row{
    height: 728px;
}
#banner .banner_content h3{
    font-weight: 400;
    font-size: 30px;
}
#banner .banner_content h1{
    font-weight: 800;
    font-size: 68px;
    text-transform: uppercase;
    letter-spacing: 30px;
}
#banner .banner_content p{
    font-weight: 400;
    font-size: 18px;
}
#banner .banner_content img{
    margin: 50px;
}
#banner .banner_content a{
    background-color: #cfc91d;
    color: #0b1016;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px 43px;
    display: inline-block;
    transition: 0.55s;
}
#banner .banner_content a:hover{
    background-color: #4e4d1a;
    color: white;
}
/* banner end */

/* about start */
#about{
    padding: 98px 0;
}
#about .intro{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    flood-color: #7e8287;
    padding: 0 140px;
    line-height: 30px;
    margin-bottom: 80px;
}
#about .card:last-child{
    border: none;
}
/* about end */

/* service start */
#service{
    padding: 74px 0;
    background-image: url(../img/service.jpg);
    background-size: cover;
    background-position: center;
}
.service_content{
    width: 50%;
}
.service_content .heading{
    text-align: left;
}
#service .service_content p{
    font-size: 16px;
    font-weight: 400;
    color: #7e8287;
    line-height: 30px;
}

.service_content .card{
    width: 50%;
    border: none;
    text-align: left;
}
.service_content .card p{
    padding-left: 0;
}
/* service end */

/* work start */

/* work end */

/* pic start */
#pic{
    padding: 60px 0;
}
#pic .picd{
    width: 25%;
    position: relative;
}
#pic .picd img{
    display: block;
    width: 100%;
}
#pic .picd .overlay{
    background-color: rgba(2, 145, 139, 0.85);
    position: absolute;
    top: 0;
    inset: 20px;
    color: white;
    text-align: center;
    padding: 30px 0;
    transform: scale(0);
    transition: 0.85s;
}
#pic .picd:hover .overlay{
    transform: scale(1);
}
#pic .picd .overlay p{
    padding: 20px 10px;
    line-height: 25px;
}

/* pic end */

/* last section start */
#last {
    padding: 70px 0;
    background-color: #0a0a0b;
    text-align: center;
}
.form-input{
    width: 700px;
    margin: 0 auto 20px auto;
}
.form-input textarea,
.form-input input{
    width: 100%;
    height: 50px;
    text-align: center;background-color: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid #02918c;
    text-transform: uppercase; 
}

.form-input textarea{
    height: 100px;
}
/* last section end */

#end{
    background-color: #000000;
    color: #7e8287;
    text-align: center;
    height: 70px;
    padding: 35px 25px 0 0 ; 
}